/* You can add global styles to this file, and also import other style files */
@import "assets/styles/normalize.css";
d-flex {
  display: flex;
}

flex-col {
  flex-flow: column;
}

w-100 {
  width: 100%;
}

content-container {
  width: 100%;
  height: 100vh;
  overflow: auto;
}

content-container {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
}

.flex-row {
  width: 100%;
  display: flex;
  flex-flow: row;
}

.flex-col {
  width: 100%;
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: stretch;
}

.singleColumn {
  width: 95%;
  margin: 8px auto;
}
.singleColumn a + a {
  margin-right: 8px;
}

.table-container table {
  width: 100%;
}
.table-container table tr:nth-of-type(odd) {
  background: #eee;
}
.table-container table tr.first-header-row {
  background-color: rgba(161, 64, 119, 0.582);
}
.table-container table tr {
  max-height: 48px;
}
.table-container table .mat-header-row {
  background: rgba(243, 158, 206, 0.678);
  border-color: rgb(109, 13, 69);
}
.table-container table .fill {
  flex-grow: 1;
}
.table-container table .actions-container {
  display: flex;
}
.table-container table .second-header-row .mat-header-cell {
  font-style: italic;
  font-size: 11px !important;
  font-weight: 300;
}
.table-container table .second-header-row .mat-header-cell .mat-form-field-infix {
  width: 100%;
  min-width: 50px !important;
}
.table-container table .second-header-row th {
  padding-top: 3px;
}
.table-container table .element-row:not(.expanded-row):hover {
  background: rgb(238, 153, 170);
}
.table-container table .element-expanded-row {
  overflow: hidden;
  display: flex;
  align-items: center;
}
.table-container table .element-expanded-row .expanded-items {
  flex-grow: 3;
}
.table-container table .element-expanded-row .expanded-items .child-container {
  border: 1px outset magenta;
  padding: 4px;
  border-radius: 4px;
  display: inline-block;
  margin: 4px;
}
.table-container table .element-expanded-row .expanded-items .child-container-label {
  margin: 0 8px;
  font-weight: bold;
}
.table-container table .element-expanded-row .expanded-items .child-container-button {
  line-height: 32px;
}
.table-container table .element-expanded-row .expanded-items .child-container-button .child-btn-icon {
  margin: 0 4px;
  flex: 0 1 30px;
}

.element-image-container, .element-thumbnail-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.element-thumbnail-container {
  margin: 4px;
}
.element-thumbnail-container img {
  max-width: 64px;
  max-height: 50px;
  background-size: cover;
}

.element-image-container {
  border: 1px solid black;
  padding: 8px;
  margin: 8px;
  flex: 0 1 30%;
}
.element-image-container img {
  margin: auto;
  max-width: 160px;
}

.element-description {
  flex-grow: 2;
  padding: 16px;
}

.read-grayBg {
  font-weight: lighter;
  background-color: #D68E3A;
}

.unread {
  font-weight: bolder;
}

form {
  margin: auto;
}
form .full-width {
  width: 100%;
}

.card {
  min-width: 120px;
  margin: 4px;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}

.green {
  color: rgb(40, 192, 40);
}

.red {
  color: red;
}

.redish {
  color: rgb(248, 73, 73);
}

@font-face {
  font-family: "Vazir";
  src: url("assets/fonts/vazir.eot") format("eot"), url("assets/fonts/vazir.ttf") format("truetype"), url("assets/fonts/vazir.woff") format("woff"), url("assets/fonts/vazir.woff2") format("woff2");
}
.material-icons {
  font-size: 18px;
}

.mat-icon {
  width: 20px;
  height: 20px;
}

/* to remove arrows from <input type=number */
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  -webkit-appearance: textfield;
          appearance: textfield;
}/*# sourceMappingURL=styles.css.map */