
<div class="content-container">
    
    <div class="table-container" *ngIf="myDatasource?.items">
        <div class="flex-row">
            <div class="singleColumn">
                <mat-form-field appearance="standard">
                    <mat-label>جستجو در عنوان</mat-label>
                    <input matInput type="text" [(ngModel)]="searchText" (input)="findByText(searchText)"
                        placeholder="">
                </mat-form-field>
            </div>
        </div>
        <div class="flex-col">
            <table mat-table [dataSource]="myDatasource.items" multiTemplateDataRows matSort multiTemplateDataRows
                (matSortChange)="sortData($event)" matSortActive="productName" matSortDisableClear
                matSortDirection="asc">

                <!-- id Column -->
                <ng-container matColumnDef="id">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header>ردیف</th>
                    <td mat-cell *matCellDef="let element">{{element.id}}</td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="productName">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>نام محصول</th>
                    <td mat-cell *matCellDef="let element">{{element.productName}}</td>
                </ng-container>

                <!-- imageName Column -->
                <ng-container matColumnDef="productImage">
                    <th mat-header-cell *matHeaderCellDef>تصویر</th>
                    <td mat-cell *matCellDef="let element">
                        <div class="element-thumbnail-container">
                            <img [src]="imagePath + element.productImage" alt="">
                        </div>
                    </td>
                </ng-container>

                <!-- commentText Column -->
                <ng-container matColumnDef="commentText">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>متن نظر</th>
                    <td mat-cell *matCellDef="let element">{{element.text}}</td>
                </ng-container>
                <!-- date Column -->
                <ng-container matColumnDef="date">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header disableClear>تاریخ نظر</th>
                    <td mat-cell *matCellDef="let element">{{persianDate(element.date)}}</td>
                </ng-container>
                <!-- seen Column -->
                <ng-container matColumnDef="seen">
                    <th mat-header-cell *matHeaderCellDef>مشاهده</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element.seenByAdmin" style="color:green">check</mat-icon>
                        <mat-icon class="material-symbols-outlined" *ngIf="!element.seenByAdmin" >mark_unread_chat_alt</mat-icon>
                        <!-- <mat-icon *ngIf="!element.seenByAdmin" style="color: red">close</mat-icon> -->
                    </td>
                </ng-container>

                <!-- approved Column -->
                <ng-container matColumnDef="approved">
                    <th mat-header-cell *matHeaderCellDef>تایید</th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon *ngIf="element.approved" style="color:green">check</mat-icon>
                        <mat-icon *ngIf="!element.approved" style="color: red">close</mat-icon>
                    </td>
                </ng-container>
                
                
                <!-- delete button column -->
                <ng-container matColumnDef="delete">
                    <th mat-header-cell *matHeaderCellDef>حذف</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-raised-button color="warn" (click)="removeElement(element.id)">
                            <mat-icon>delete_forever</mat-icon>
                        </button>
                    </td>
                </ng-container>

                <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="element-expanded-row"
                            [@detailExpandTrigger]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <div class="element-image-container">
                                <img [src]="imagePath + element.productImage" alt="">
                            </div>
                            <div class="element-description">
                                <p>نام محصول: {{element.productName}}</p>
                                <p>متن نظر: {{element.text}}</p>
                                <p>تاریخ: {{persianDate(element.date)}}</p>                                
                            </div>
                        </div>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let element; columns: displayedColumns;" class="element-row"
                    [class.expanded-row]="expandedElement === element"
                    [class.read-grayBg]="element.seenByAdmin"
                    [class.unread]="!element.seenByAdmin"
                    [routerLink]="['/products/comments',element.productId]"
                    
                    
                    >
                </tr>

                <!-- <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="detail-row"></tr> -->
            </table>
            <mat-paginator #paginator *ngIf="myDatasource.items" [length]="myDatasource.totalItems"
                [pageIndex]="myDatasource.pageIndex" [pageSize]="myDatasource.pageSize" [pageSizeOptions]="[10, 25, 50]"
                (page)="pageEvent = $event; onPaginateChange($event)" showFirstLastButtons>
            </mat-paginator>
        </div>
    </div>

</div>