
<div class="content-container">
    <mat-card class="card">
        <mat-card-header>
            <mat-card-title> نظرات   &nbsp;&nbsp;&nbsp;&nbsp; {{myDatasource?.totalItems}}</mat-card-title>
        </mat-card-header>
        <mat-card-content> 
            <app-table [dataSource]="myDatasource" [items$]="items$" [columns]="columns" [rowConditionalStyleClass]="rowClass2"
                (pageChange)="pageChange()" (sortChange)="sortChange($event)" (clearFiltersEvent)="clearFilters()" ></app-table> 
        </mat-card-content>
    </mat-card>
</div>