<section class="flex-row">
    <div class="singleColumn">
        <a mat-raised-button [routerLink]="'/categories'" color="accent">برگشت به لیست</a>        
    </div>
</section>

<mat-card class="card" >
    <mat-card-header >
        <mat-card-title><a [routerLink]="['/categories']">دسته بندی ها</a> / ثبت دسته جدید</mat-card-title>        
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()" class="flex-col">
            <app-input-formfield [label]="'عنوان'" [control]="title" [maxLength]="maxLenText"></app-input-formfield>
            <app-input-formfield [label]="'عنوان در URL'" [control]="urlTitle" [maxLength]="maxLenText"></app-input-formfield>
            
            <div class="row">
                <div class="col">
                    <!-- <mat-label>دسته پدر</mat-label> -->
                    <!-- <app-category-tree ></app-category-tree> -->
                    <app-category-tree-clientside [selectingMode]="true" cardTitle="انتخاب دسته پدر" (categorySelected)="setParentId($event)"></app-category-tree-clientside>
                </div>
            </div> 
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button id="btnSubmit" color="primary" [disabled]="!myForm.valid" type="submit">ثبت</button>
    </mat-card-actions>
</mat-card>

<!-- <mat-card class="card" *ngIf="addedCategory$ | async as newCtg">
    <mat-card-header >
        <mat-card-subtitle >دسته {{newCtg.title}} ایجاد شد</mat-card-subtitle>
        <mat-card-title>افزودن ویژگی ها برای « {{newCtg.title}} »</mat-card-title>
    </mat-card-header>
    <mat-card-content ></mat-card-content>
</mat-card> -->
