<section class="flex-row">
    <div class="singleColumn">
        <a mat-raised-button [routerLink]="'/sliders'" color="accent">برگشت به لیست</a>
    </div>
</section>

<mat-card class="card">
    <mat-card-header>
        <mat-card-title><a [routerLink]="'/sliders'" color="accent"> اسلایدر ها </a> / ویرایش اسلایدر </mat-card-title>
    </mat-card-header>
    <mat-card-content>
        <form *ngIf="myForm" [formGroup]="myForm" novalidate (ngSubmit)="onSubmit()" class="d-flex">
            <div class="col">
                <mat-label>تصویر فعلی</mat-label>
                <img mat-card-image [src]="imagePath + dbData.base64Image" alt="" class="preview-image">
            </div>
            <app-persian-datepicker-formfield class="flex-col" [label]="'تاریخ شروع نمایش'" [control]="activeFrom"
                [dateMin]="dateMinimum"></app-persian-datepicker-formfield>
            <app-persian-datepicker-formfield class="flex-col" [label]="'تاریخ پایان نمایش'" [control]="activeUntil"
                [dateMin]="dateMinimum"></app-persian-datepicker-formfield>
            <mat-error *ngIf="myForm.errors?.wrongDateRange && (myForm.touched || myForm.dirty)">
                تاریخ پایان باید بعد از تاریخ شروع باشد
            </mat-error>
            <app-input-formfield class="flex-col" [label]="'عنوان'" [control]="title" ></app-input-formfield>
            <app-input-formfield class="flex-col" [label]="'توضیحات'" [control]="description" [maxLength]="maxLenDescription"></app-input-formfield>
            <!-- should be textarea, or better, texteditor -->
            <app-input-formfield [label]="'لینک'" [control]="link"></app-input-formfield>
            <div class="row">
                <div class="col">
                    <mat-label>تصویر جدید</mat-label>
                    <!-- <app-image-picker class="full-width" (imagePick)="changeImage($event)"></app-image-picker> -->
                    <button mat-raised-button color="warn" type="button" (click)="openCropper()">
                        <mat-icon matSuffix>photo</mat-icon>
                        انتخاب عکس</button>                    
                        <button mat-raised-button color="warn" type="button" (click)="openCropper2()">
                            <mat-icon matSuffix>photo</mat-icon>
                            انتخاب عکس2</button>                    
    
                    <img mat-card-image [src]="selectedImage" alt="" *ngIf="selectedImage" class="preview-image">

                    <button *ngIf="selectedImage" mat-icon-button (click)="discardChangeImage()" matTooltip="انصراف">
                        <mat-icon>highlight_off</mat-icon>
                    </button>


                    <mat-error *ngIf="myForm.controls['imageName'].hasError('required')">
                        وارد کردن تصویر <strong>الزامی</strong> است
                    </mat-error>
                    <!-- <img mat-card-image [src]="selectedImage" alt="" class="preview-image"> -->
                    <!-- <img [src]="selectedImage" alt="" *ngIf="selectedImage!==''" class="preview-image"> -->
                    <!-- <mat-error *ngIf=" selectedImage==''">
                        ssssوارد کردن تصویر <strong>الزامی</strong> است
                    </mat-error> -->
                </div>

            </div>
        </form>
    </mat-card-content>
    <mat-card-actions>
        <button mat-raised-button id="btnSubmit" color="primary" [disabled]="!myForm?.valid" type="submit">ثبت</button>
    </mat-card-actions>
</mat-card>


