<section *ngIf="!comingFromChange" class="flex-row">
  <div class="singleColumn">
    <a mat-raised-button [routerLink]="'/products'" color="accent"
      >برگشت به لیست</a
    >
  </div>
</section>
<mat-card class="card">
  <mat-card-title>گالری تصاویر</mat-card-title>
  <mat-card-content>
    
    <!-- <span matBadge="4" matBadgeOverlap="true">
        <img
          mat-card-sm-image
          src=""
          alt=""
        />
      </span> -->
    <div class="flex-container">
      <div class="gallery-item" *ngFor="let item of gallery$ | async">
        <img mat-card-sm-image class="gallery-image" [src]="imagePath + item.imageName" alt="" />
        <button mat-mini-fab class="gallery-item-delete-button" (click)="deleteItem(item.id)" color="warn" aria-label="icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
    <div class="flex-container">
      <div class="gallery-item" *ngFor="let item of gallery$ | async">
        <img mat-card-sm-image class="gallery-image" [src]="imagePath + item.imageName" alt="" />
        <button mat-icon-button class="gallery-item-delete-button" (click)="deleteItem(item.id)" color="warn" aria-label="icon button with a delete icon">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <button #addButton mat-raised-button color="primary" (click)="openCropper()">
      افزودن عکس جدید
    </button>
  </mat-card-actions>
</mat-card>
