.flex-container {
    display: flex;

    .gallery-item {
        margin: 8px ;
        
        position: relative;

        .gallery-image {
            border: 1px solid #ccc;
            border-radius: 10%;
        }

        .gallery-item-delete-button{
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 100;
        }
        .mat-mini-fab {
            width: 22px;
            height: 22px !important;
            font-size: 18px !important;
            line-height: 1 !important;
            display: flex !important;
            align-items: center !important;
            justify-content: center !important;
        }

        .mat-icon-button {
            width: 20px !important;
            height: 20px !important;
            font-size: 20px !important;
        }

    }
}

.mat-icon{
    width: 20px;
    height: 20px;
}