// .full-width {
//     width: 100%;
//   }
  
//   .shipping-card {
//     min-width: 120px;
//     margin: 20px auto;
//   }
  
//   .mat-radio-button {
//     display: block;
//     margin: 5px 0;
//   }
  
//   .row {
//     display: flex;
//     flex-direction: row;
//   }
  
//   .col {
//     flex: 1;
//     margin-right: 20px;
//   }
  
//   .col:last-child {
//     margin-right: 0;
//   }
  
.preview-image {
    // border: 1px dashed #9d9d9d;
    // border-radius: 10px;
    width: 150px;
    height: 100px;
  }
  ::ng-deep ng-persian-datepicker .datepicker-outer-container {
    position: absolute;
    width: 300px;
    top: 43px;
    right: -10px;
    z-index: 1000;
    //background-color: $icm-dark-deep;
  }
  