<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"  fixedTopGap 
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>
      <a mat-list-item [routerLink]="['/']">داشبورد</a>
    </mat-toolbar>
    <mat-nav-list>
      <mat-accordion>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              سفارش ها
            </mat-panel-title>            
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/']">dummy</a>          
        </mat-expansion-panel>
        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              صفحه اصلی سایت
            </mat-panel-title>            
          </mat-expansion-panel-header> 
          <mat-divider></mat-divider>         
          <a mat-list-item [routerLink]="['/sliders']">اسلایدر</a>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              کاتالوگ
            </mat-panel-title>
            
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/products']">محصولات</a>
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/categories']">دسته بندی ها</a>
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/attribs']">ویژگی ها</a>
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              کاربران
            </mat-panel-title>            
          </mat-expansion-panel-header>
          <mat-divider></mat-divider>
          <a mat-list-item [routerLink]="['/products/comments']">نظرات</a>          
        </mat-expansion-panel>

        <mat-expansion-panel >
          <mat-expansion-panel-header>
            <mat-panel-title>
              گزارش ها
            </mat-panel-title>            
          </mat-expansion-panel-header>
          <a mat-list-item [routerLink]="['/']">dummy</a>
          
        </mat-expansion-panel>
      </mat-accordion>  
      <a mat-list-item [routerLink]="['/categories/checklist']">tree checklist</a>
      <a mat-list-item [routerLink]="['/categories/treecheck']">my tree checklist</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>        
      </button>
      <span>مدیریت سایت</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button matTooltip="نظرات کاربران" [routerLink]="['/products/comments']">
        <mat-icon [matBadge]="unreadCommentsCount$ | async" matBadgeColor="warn" aria-label="comments">comment</mat-icon></button>
      <button mat-icon-button matTooltip="email" >
          <mat-icon matBadge="3" matBadgeColor="warn" aria-label="email icon">mail</mat-icon></button>
      <button mat-icon-button matTooltip="خروج" (click)="logout()">
        <mat-icon aria-label="logout icon">logout</mat-icon></button>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
